dist: trusty
sudo: false
language: node_js
node_js:
- '8'
addons:
  chrome: stable
cache: yarn
before_install:
- curl -o- -L https://yarnpkg.com/install.sh | bash
- export PATH="$HOME/.yarn/bin:$PATH"
- yarn global add greenkeeper-lockfile@1
before_script:
- greenkeeper-lockfile-update
script: yarn test
after_script:
- greenkeeper-lockfile-upload
deploy:
  provider: firebase
  skip_cleanup: true
  token:
    secure: 2rfjIg5+P7eX3VVR5QUAfawdKYoGxi0+FXKdea4meV0rwu5R7S/zRiicKwe6nfXMQQGDZMXrVoUPn5VXy57NZGdMJucgrV5/ttHdF7+cruOUJnCji/fyLSfqrc9J45kC4bKC5JRMi4QkpMTb2+m3cXmpUM93Il9DYbUHUBUE4Z1AMl4L3EV00b8DURGYmKNVquseiL5eBjS6RsO0kG77t47lD9yLczjyFJjQrpHHL3pOvj5wzMeHB0S2V/lENpWtHfDBmx3+a8X04X8HCCxWxdpjg2I6G+MxEcRbuxQn3rKAhmw59NmnFRkRt8PF7ERAqgtebxi+uf/jYKPf4Zzy6JzjVCJ5BSpPN5vNlg2SS0VwFETpSbkctXEVg2fw5917xnKQmcrGaBbdrS5/X1ZJDI4gzSlZtFBiGye1gmjvJklF2fo3x0qUFPyko+ayqdM4blQRFlbJZm0uOjYm0Y0vMwKV20tgX5r8cjdMSnWHGi8mh20ZyrmSgNfrkkLkvb+Pd8usKFP06Opv3uaVZbAYMKK6YoIhgCMOIW0C+uQQ3x/aZnNFjCcMAe0hUKCiTu+rEw9wMzGeTynQEydj9qTuMQVn7kgFjvAuMXSpl5AC/LzD2SvgySMAWytg2LuJgvopCQNnwE3pLWLwnxrGWQ631QWwvqnbwp1C8n6orQsO3kI=
